<%- include('../layout/header'); -%>

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content " style="padding-top: 64px;">
        <div class="container page__container page-section">
            <h1 class="h2 mb-0">Courses</h1>
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Courses</li>
                <li class="breadcrumb-item active">My Courses</li>
            </ol>
            
            <!-- Separator -->
            <div class="page-separator" style="margin-top: 20px;">
                <div class="page-separator__text">Classes</div>
            </div>

            <div class="col-lg-12 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">
                    <div class="card m-0">
                        <div class="table-responsive" data-toggle="lists"
                            data-lists-sort-by="js-lists-values-employee-name"
                            data-lists-values="[&quot;js-lists-values-employee-name&quot;, &quot;js-lists-values-employer-name&quot;, &quot;js-lists-values-projects&quot;, &quot;js-lists-values-activity&quot;, &quot;js-lists-values-earnings&quot;]">
                            
                            <!-- Student Class Table -->
                            <% if (classes) { %>
                                <table class="table mb-0 thead-border-top-0 table-nowrap">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Code</th>
                                            <th style="text-align: center;">Subject</th>
                                            <th style="text-align: center;">Credits</th>
                                            <th style="text-align: center;">Class</th>
                                            <th style="text-align: center;">Lecturer</th>
                                            <th style="text-align: center;">Date</th>
                                            <th style="text-align: center;">Period</th>
                                            <th style="text-align: center;">Room</th>
                                            <th style="text-align: center;">Week</th>
                                            <th class="pl-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <% classes.forEach((cls) => { %>
                                        <tr style="text-align: center;">
                                            <td><strong><%= cls.Code %></strong></td>
                                            <td><strong><%= cls.Name %></strong></td>
                                            <td><%= cls.NoOfCredits %></td>
                                            <td><%= cls.ClassName %></td>
                                            <td><%= cls.Lecturer %></td>
                                            <td><%= cls.Date %></td>
                                            <td><%= cls.Period %></td>
                                            <td><%= cls.Room %></td>
                                            <!-- <td><%= cls.Week %></td> -->
                                            <td>No week added</td>
                                        </tr>
                                        <%});%>
                                    </tbody>
                                </table>
                            <% }; %>
                                    <!-- END Student Class Table -->
                        </div>


                    </div>

                </div>
            </div>
            
        </div>
        
    </div>
    <!-- // END Header Layout Content -->
    <%- include('../layout/footer'); -%>