<%- include('../layout/header'); -%>
    <style>
        .hidden {
            opacity: 0;
            transform: rotateX(-90deg);
            transform-style: preserve-3d;
            max-height: 0px;
        }

        .hidden-parent {
            max-height: 0px !important;
        }

        /* .show {
            height: fit-content;
            opacity: 1;
            transition: all 200ms ease-in-out;
        } */
    </style>
    <div class="mdk-header-layout__content page-content" style="padding-top: 64px">
        <div class="container page__container page-section pb-0">
            <h1 class="h2 mb-0">Subjects</h1>
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a href="/faculty">Home</a></li>
                <li class="breadcrumb-item">Faculty Officer</li>
                <li class="breadcrumb-item active">Subjects</li>
            </ol>
        </div>
        <div class="container page__container page-section">
            <div class="page-separator d-flex justify-content-between">
                <div class="page-separator__text">Subjects</div>
                <div class="d-flex">

                    <button type="button" class="btn btn-primary" name="add" id="btn-add">
                        Add
                    </button>

                </div>
            </div>
            <div class="hidden-parent" style="perspective: 450px; transition: all 300ms; max-height: 450px">
                <div class="pb-32pt hidden" style="
          transform-origin: top;
          transition: all 300ms;
          height: auto;
          max-height: 450px;
        ">
                    <div class="container page__container">
                        <form action="/faculty/subject/add" class="col-md-8 p-0 mx-auto" method="POST" id="form-add">
                            <div class="form-group">
                                <label class="form-label" for="code">Code: </label>
                                <input onkeyup="btnSuccess()" id="code" name="code" type="text" class="form-control"
                                    placeholder="Subject's code ..." value="" />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name">Subject:</label>
                                <input onkeyup="btnSuccess()" id="name" name="name" type="text" class="form-control"
                                    placeholder="Subject's name ..." />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="NoOfCredits">Credits:</label>
                                <input onkeyup="btnSuccess()" id="credits" name="noOfCredits" type="number"
                                    class="form-control" placeholder="Subject's credits ..."
                                    onkeypress="return event.charCode >= 48" />
                            </div>
                            <div class="text-right">
                                <button class="btn btn-danger">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="submit-add-form" disabled>
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card mb-lg-32pt">
                <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-code"
                    data-lists-sort-desc="true"
                    data-lists-values='["js-lists-values-code", "js-lists-values-subject", "js-lists-values-credits", "js-lists-values-nlecturers"]'>
                    <table class="table mb-0 thead-border-top-0 table-nowrap" style="overflow: hidden"
                        id="table-subject">
                        <thead>
                            <tr>
                                <th>
                                    <a href="javascript:void(0)" class="sort asc"
                                        data-sort="js-lists-values-code">Code</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort asc"
                                        data-sort="js-lists-values-subject">Subject</a>
                                </th>

                                <th style="text-align: center">
                                    <a href="javascript:void(0)" class="sort asc"
                                        data-sort="js-lists-values-credits">Credits</a>
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="clients">
                            <% subjects.forEach(subject=> { %>
                                <tr>
                                    <td class="js-lists-values-code">
                                        <%= subject.Code %>
                                    </td>
                                    <td class="js-lists-values-subject">
                                        <strong>
                                            <%= subject.Name %>
                                        </strong>
                                    </td>
                                    <td class="js-lists-values-credits" style="text-align: center">
                                        <%= subject.NoOfCredits %>
                                    </td>

                                    <td style="text-align: center">

                                        <div class="d-flex">
                                            <form action="/faculty/subject/info" method="GET">
                                                <input type="hidden" name="semester" value="<%=Semester%>">
                                                <button value="<%=subject.Code%>" class="btn btn-primary small p-4pt"
                                                    name="subjectcode">
                                                    <i class="material-icons">view_list</i>
                                                </button>
                                            </form>
                                            <form action="/faculty/subject/remove" method="GET">

                                                <button value="<%=subject.Code%>" type="submit"
                                                    class="btn btn-accent small p-4pt" name="remove">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer p-8pt">
                    <ul class="pagination justify-content-start pagination-xsm m-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true" class="material-icons">chevron_left</span>
                                <span>Prev</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Page 1">
                                <span>1</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Page 2">
                                <span>2</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span>Next</span>
                                <span aria-hidden="true" class="material-icons">chevron_right</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="card-body bordet-top text-right">
15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
</div> -->
            </div>
        </div>
    </div>
    <%- include('../layout/footer'); -%>

        <script>
            $("#search").change("input", function (e) {
                e.preventDefault();
            });
            $("#btn-add").click(function (e) {
                e.preventDefault();
                $("#form-add").parent().parent().toggleClass("hidden");
                $("#form-add").parent().parent().parent().toggleClass("hidden-parent");
            });
            $(".btn.btn-danger").click(function (e) {
                e.preventDefault();
                $("#form-add").parent().parent().toggleClass("hidden");
                $("#form-add").parent().parent().parent().toggleClass("hidden-parent");
                $("#form-add").find("input").val("");
            });
            // $("#submit-add-form").click(function (e) {
            //   e.preventDefault();
            //   var data = $("#form-add").serialize();
            //   $.post("/faculty/subject/add", data, function (data, textStatus, jqXHR) {
            //     console.log(data, textStatus);
            //   });
            // });
        </script>

        <script>
            function btnSuccess() {
                if (
                    document.getElementById("code").value === "" ||
                    document.getElementById("name").value === "" ||
                    document.getElementById("credits").value === ""
                ) {
                    document.getElementById("submit-add-form").disabled = true;
                } else {
                    document.getElementById("submit-add-form").disabled = false;
                }
            }
        </script>