<%- include('../layout/header'); -%>
    <style>
        .hidden {
            opacity: 0;
            transform: rotateX(-90deg);
            transform-style: preserve-3d;
            transition: all 300ms;
            max-height: 0px;
        }
        
        .hidden-parent {
            max-height: 0px !important;
            transition: all 300ms;
        }
        
        .toast.toast-error {
            background-color: #d9534f;
        }
        
        .select2-dropdown .select2-results {
            max-height: 200px;
            overflow-y: scroll;
        }
        
        .select2-dropdown .select2-results::-webkit-scrollbar {
            visibility: hidden;
            width: 0px;
        }
        
        .blue {
            background-color: #5567ff;
            border-top: #5567ff solid;
            border-bottom: #5567ff solid;
        }
    </style>
    <link type="text/css" href="assets/css/select2.css" rel="stylesheet">
    <link type="text/css" href="assets/vendor/select2/select2.min.css" rel="stylesheet">
    <div class="mdk-header-layout__content page-content " style="padding-top: 64px;">
        <div class="container page__container page-section pb-0">
            <h1 class="h2 mb-0">Lớp</h1>
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a href="/faculty">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Tables</li>

            </ol>
        </div>
        <div class="container page__container page-section">
            <div class="page-separator d-flex justify-content-between">
                <div class="page-separator__text">Lớp</div>
                <div class="d-flex">
                    <button type="button" class="btn btn-white" id="btn-search" style="margin-right: 10px;">
                        <i class="material-icons">search</i>
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-add">
                        Thêm
                    </button>
                </div>
            </div>
            <div class="hidden-parent" style="perspective: 400px;transition: all 300ms;">
                <div class="pb-32pt hidden" style="transform-origin: top;transition: all 300ms;height:auto;">
                    <div class="container page__container">
                        <form action="/aao/class/" class="col-md-12 p-0 mx-auto d-flex justify-content-between align-items-center" method="GET" id="form-search">
                            <div class="form-group mx-10px" data-select2-id="16">
                                <label class="form-label" for="limit">Limit</label>
                                <input id="limit" name="limit" type="number" class="form-control" value="<%= condition.limit || 10 %>" style="width: 60px;">
                            </div>
                            <div class="form-group" data-select2-id="16">
                                <label class="form-label" for="SSubjectCode">Môn học:</label>
                                <select name="SSubjectCode" id="SSubjectCode" data-toggle="select" class="form-control select2-hidden-accessible" data-select2-id="select01" tabindex="-1" aria-hidden="true">
                                    <option data-select2-id="2" value="-1" selected>
                                        Môn học
                                    </option>
                                    <% subjectsGroup.forEach((subject)=>{%>
                                        <option data-select2-id="2" value="<%= subject.Code %>"
                                            <%=condition.SSubjectCode==subject.Code?"selected":""%>>
                                            <%= subject.Code + ' - ' + subject.Name + ' - ' + subject.FacultyCode%>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group" data-select2-id="16">
                                <label class="form-label" for="SFacultyCode">Khoa:</label>
                                <select name="SFacultyCode" id="SFacultyCode" data-toggle="select" class="form-control select2-hidden-accessible" data-select2-id="select01" tabindex="-1" aria-hidden="true">
                                    <option data-select2-id="2" value="-1" selected>
                                        Khoa
                                    </option>
                                    <% faculties.forEach((Faculty)=>{%>
                                        <option data-select2-id="2" value="<%= Faculty.Code %>"
                                            <%=condition.SFacultyCode==Faculty.Code?"selected":""%>>
                                            <%= Faculty.Code + ' - ' + Faculty.Name%>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="Semester">Học kỳ:</label>
                                <select name="Semester" id="Semester" data-toggle="select" class="form-control select2-hidden-accessible" data-select2-id="select01" tabindex="-1" aria-hidden="true">
                                    <option data-select2-id="2" value="-1" selected>
                                        Học kỳ
                                    </option>
                                    <% semesters.forEach((s)=>{%>
                                        <option data-select2-id="2" value="<%= s.Code %>"
                                            <%=condition.Semester==s.Code?"selected":""%>>
                                            <%= s.Code%>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="keySearch">Search:</label>
                                <input id="keySearch" name="keySearch" type="text" class="form-control" placeholder="Nhập từ khóa ..." value="<%=condition.keySearch%>">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="btn-search" style="margin-top: 27px;">
                                    <i class="material-icons">search</i>
                                </button>

                                <a href="/aao/class/">
                                    <button type="button" class="btn btn-accent" style="margin-top: 27px">
                                        <i class=" material-icons">close</i>
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="hidden-parent" style="perspective: 400px;transition: all 300ms;">
                <div class="pb-32pt hidden" style="transform-origin: top;transition: all 300ms;height:auto;">
                    <div class="container page__container">
                        <form action="/aao/class/add" class="col-md-8 p-0 mx-auto" method="POST" id="form-add">
                            <div class="form-group" data-select2-id="16">
                                <label class="form-label" for="sel-subject">Môn học:</label>
                                <select name="SubjectCode" id="sel-subject" data-toggle="select" placeholder="Môn học ..." class="form-control select2-hidden-accessible" data-select2-id="select01" tabindex="-1" aria-hidden="true">
                                    <% subjects.forEach((subject)=>{%>
                                        <option data-select2-id="2" value="<%= subject.Code %>">
                                            <%= subject.Code + ' - ' + subject.Name + ' - ' + subject.FacultyCode%>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name">Tên lớp:</label>
                                <input id="name" name="name" type="text" required class="form-control" placeholder="Tên lớp học ...">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="Semester">Học kỳ:</label>
                                <input id="Semester" name="Semester" type="text" class="form-control" readonly placeholder="Học kỳ" value="<%= semester %>">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="week">Tuần giảng dạy:</label>
                                <input id="week" name="week" type="text" class="form-control" required placeholder="Tuần giảng dạy (start-finish)...">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="tkb">Thời khóa biểu:</label>
                                <div class="table-responsive">
                                    <table class="table mb-0 thead-border-top-0 table-nowrap">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Tiết</th>
                                                <th style="text-align: center;">
                                                    <p>Thứ 2</p>
                                                    <input type="text" class="form-control" placeholder="Phỏng">
                                                </th>
                                                <th style="text-align: center;">
                                                    <p>Thứ 3</p>
                                                    <input type="text" class="form-control" placeholder="Phỏng">
                                                </th>
                                                <th style="text-align: center;">
                                                    <p>Thứ 4</p>
                                                    <input type="text" class="form-control" placeholder="Phỏng">
                                                </th>
                                                <th style="text-align: center;">
                                                    <p>Thứ 5</p>
                                                    <input type="text" class="form-control" placeholder="Phỏng">
                                                </th>
                                                <th style="text-align: center;">
                                                    <p>Thứ 6</p>
                                                    <input type="text" class="form-control" placeholder="Phỏng">
                                                </th>
                                                <th style="text-align: center;">
                                                    <p>Thứ 7</p>
                                                    <input type="text" class="form-control" placeholder="Phỏng">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i=0;i<11;i++){ %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td data-is-teach="false"></td>
                                                    <td data-is-teach="false"></td>
                                                    <td data-is-teach="false"></td>
                                                    <td data-is-teach="false"></td>
                                                    <td data-is-teach="false"></td>
                                                    <td data-is-teach="false"></td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-danger">Hủy</button>
                                <button class="btn btn-primary" id="submit-add-form">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card mb-lg-32pt">

                <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-name&quot;, &quot;js-lists-values-company&quot;, &quot;js-lists-values-phone&quot;, &quot;js-lists-values-date&quot;]">




                    <table class="table mb-0 thead-border-top-0 table-nowrap" style="overflow: hidden;" id="table-subject">
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-stt">STT</a>
                                </th>

                                <th style="width: 100px;text-align: center;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-phone">Lớp</a>
                                </th>
                                <th style="width: 150px;text-align: center">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-company">Mã môn
                                        học</a>
                                </th>
                                <th style="text-align: center;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Môn
                                        học</a>
                                </th>
                                <th style="width: 80px;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-phone">Khoa</a>
                                </th>
                                <th style="width: 80px;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-phone">Học
                                        kỳ</a>
                                </th>
                                <th style="width: 24px;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list" id="clients">
                            <% classes.forEach((c,i)=> { %>
                                <tr>
                                    <td>
                                        <%= condition.limit*(condition.page-1)+i+1 %>
                                    </td>
                                    <td style="text-align: center;">
                                        <%= c.ClassName %>
                                    </td>
                                    <td style="text-align: center;">
                                        <%= c.SubjectCode %>
                                    </td>
                                    <td>
                                        <%= c.Name %>
                                    </td>
                                    <td>
                                        <%= c.FacultyCode %>
                                    </td>
                                    <td>
                                        <%= c.SemesterCode %>
                                    </td>
                                    <td class="text-right">

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background-color: white;"><span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="/aao/class/<%= c.SubjectCode %>__<%= c.SemesterCode %>__<%= c.ClassName %>">Chi
                                                    tiết</a>
                                                <a class="dropdown-item" href="#">Dropdown link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>


                        </tbody>
                    </table>
                </div>

                <div class="card-footer p-8pt d-flex justify-content-between">

                    <ul class="pagination justify-content-start pagination-xsm m-0">
                        <li class="page-item <%= parseInt(condition.page)==1?" disabled ":" " %>">
                            <a class="page-link" href="?limit=<%= condition.limit || -1 %>&SSubjectCode=<%= condition.SSubjectCode || -1 %>&SFacultyCode=<%= condition.SFacultyCode || -1 %>&Semester=<%= condition.Semester || -1 %>&keySearch=<%= condition.keySearch %>&page=<%= parseInt(condition.page)-1%>"
                                aria-label="Previous">
                                <span aria-hidden="true" class="material-icons">chevron_left</span>
                                <span>Prev</span>
                            </a>
                        </li>
                        <% for (var
                            i=Math.max(1,parseInt(condition.page)-3);i<=Math.min(parseInt(condition.page)+3,pageMax);
                            i++){%>
                            <li class="page-item  <%= parseInt(condition.page)==i? 'active' : " " %>">
                                <a class=" page-link" href="?limit=<%= condition.limit || -1 %>&SSubjectCode=<%= condition.SSubjectCode || -1 %>&SFacultyCode=<%= condition.SFacultyCode || -1 %>&Semester=<%= condition.Semester || -1 %>&keySearch=<%= condition.keySearch %>&page=<%= i%>">
                                    <span>
                                        <%=i%>
                                    </span>
                                </a>
                            </li>
                            <% } %>
                                <li class="page-item <%= parseInt(condition.page)==pageMax?" disabled ":" " %>">
                                    <a class="page-link" href="?limit=<%= condition.limit || -1 %>&SSubjectCode=<%= condition.SSubjectCode || -1 %>&SFacultyCode=<%= condition.SFacultyCode || -1 %>&Semester=<%= condition.Semester || -1 %>&keySearch=<%= condition.keySearch %>&page=<%= parseInt(condition.page)+1%>"
                                        aria-label="Next">
                                        <span>Next</span>
                                        <span aria-hidden="true" class="material-icons">chevron_right</span>
                                    </a>
                                </li>
                    </ul>
                    <div class="text-50" style="font-size: 14px;font-weight: bold;">
                        Showing
                        <%= (condition.page-1)*condition.limit+1 %> to
                            <%= Math.min(parseInt(condition.limit*condition.limit-1),max)%> of
                                <%= max %> entries
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('../layout/footer'); -%>
        <script src="assets/vendor/select2/select2.min.js"></script>
        <script src="assets/js/select2.js"></script>
        <script>
            $('#sel-subject').select2();
            $('#SSubjectCode').select2();
            $('#SFacultyCode').select2();
            $('#Semester').select2();
            $('#search').change('input', function(e) {
                e.preventDefault();

            });
            $('#btn-add').click(function(e) {
                e.preventDefault();
                $('#form-add').parent().parent().toggleClass('hidden');
                $('#form-add').parent().parent().parent().toggleClass('hidden-parent');

            });
            $('.btn.btn-danger').click(function(e) {
                e.preventDefault();
                $('#form-add').parent().parent().toggleClass('hidden');
                $('#form-add').parent().parent().parent().toggleClass('hidden-parent');
            });
            $('#submit-add-form').click(function(e) {
                e.preventDefault();
                var data = {};
                $('#form-add').serialize().split('&').forEach(keyVal => {
                    var keyVal = keyVal.split('=');
                    data[keyVal[0]] = keyVal[1];
                })
                if (data.week == '') {
                    toastr.error('Chưa thiết lập tuần giảng dạy', "Error")
                    return false;
                }
                data.times = [];
                var dates = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                console.log($('#form-add').find('table th'));
                $('#form-add').find('table th').each((i, th) => {
                    var date = dates[i - 1];
                    var room = $(th).find('input').val();
                    var isTrue = false;
                    var start = null;
                    var finish = null;
                    $('#form-add').find('table tbody tr').each((index, tr) => {
                        var td = $(tr).find('td')[i];
                        if ($(td).data('isTeach') && !isTrue) {
                            start = 7 + index;
                            isTrue = true;
                        }
                        if (!$(td).data('isTeach') && isTrue) {
                            finish = 7 + index;
                            isTrue = false;
                        }
                        if (start != null && finish != null) {
                            data.times.push({
                                date,
                                room: $(th).find('input').val(),
                                start,
                                finish
                            })
                            start = null;
                            finish = null;
                        }
                    });
                    if (start != null && isTrue) {
                        finish = 18;
                        data.times.push({
                            date,
                            room: $(th).find('input').val(),
                            start,
                            finish
                        })
                        start = null;
                        finish = null;
                    }
                });
                var isHaveEmptRoom = false;
                data.times.forEach(t => {
                    if (t.room == '') isHaveEmptRoom = true;
                });
                if (isHaveEmptRoom) {
                    toastr.error('Chưa đặt phòng', "Error")
                    return false;
                }
                $.post({
                    url: "/aao/class/add",
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function(data, textStatus, jqXHR) {
                        toastr[textStatus](data, 'Well done!');
                        $('#form-add').parent().parent().toggleClass('hidden');
                        $('#form-add').parent().parent().parent().toggleClass('hidden-parent');
                    },
                    error: function(respone, status, errorThrown) {
                        respone.responseJSON.forEach(err => {
                            toastr.error(err.message, 'Error');
                        });
                        console.log(respone, status, errorThrown);
                    }
                });
            });
            $('#btn-search').click(function(e) {
                e.preventDefault();
                $('#form-search').parent().parent().toggleClass('hidden');
                $('#form-search').parent().parent().parent().toggleClass('hidden-parent');
            });
            $("[data-is-teach]").click(function(e) {
                e.preventDefault();
                $(e.currentTarget).toggleClass('blue');
                $(e.currentTarget).data('isTeach', !$(e.currentTarget).data('isTeach'));
            });
        </script>