<%- include('../layout/header'); -%>

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content" style="padding-top: 64px">
        <div class="container page__container page-section">
            <h1 class="h2 mb-0">Classes</h1>
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Faculty Officer</li>
                <li class="breadcrumb-item">Lecturers</li>
                <li class="breadcrumb-item active">Classes</li>
            </ol>

            <!-- Separator -->
            <div class="page-separator" style="margin-top: 20px">
                <div class="page-separator__text">Classes</div>
            </div>
            <div class="page-separator__text" style="color: red">
                Lecturers:
                <%= Lecturer.Name %>
            </div>
            <% if (Semester) { %>
                <p><br></p>
                <div class="page-separator__text" style="color: red">
                    Semester:
                    <%= Semester %>
                </div>
                <% } %>
                    <!-- END Separator -->
                    <!-- Search -->
                    <div class="col-lg">
                        <div class="col-lg-2 mb-2">
                            <!-- <label class="form-label" for="searchSemester" style="">Semester</label> -->
                            <form action="" method="GET">
                                <input name="lecturerid" value="<%=Lecturer.ID%>" type="hidden" />
                                <input name="semestercode" type="text" class="form-control" placeholder="Semester"
                                    id="searchSemester" />
                            </form>
                        </div>
                    </div>

                    <!-- END Search -->
                    <div class="col-lg-12 d-flex align-items-center">
                        <div class="flex" style="max-width: 100%">
                            <div class="card m-0">
                                <div class="table-responsive" data-toggle="lists"
                                    data-lists-sort-by="js-lists-values-employee-name"
                                    data-lists-values='["js-lists-values-employee-name", "js-lists-values-employer-name", "js-lists-values-projects", "js-lists-values-activity", "js-lists-values-earnings"]'>
                                    <!-- Student Class Table -->
                                    <% if (Classes) { %>
                                        <table class="table mb-0 thead-border-top-0 table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center">Code</th>
                                                    <th style="text-align: center">Subject</th>
                                                    <th style="text-align: center">Credits</th>
                                                    <th style="text-align: center">Class</th>
                                                    <th style="text-align: center">Week</th>
                                                    <th class="pl-0"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="list">
                                                <% Classes.forEach((cls)=> { %>
                                                    <tr style="text-align: center">
                                                        <td><strong>
                                                                <%= cls.Code %>
                                                            </strong></td>
                                                        <td><strong>
                                                                <%= cls.Name %>
                                                            </strong></td>
                                                        <td>
                                                            <%= cls.NoOfCredits %>
                                                        </td>
                                                        <td>
                                                            <%= cls.ClassName %>
                                                        </td>
                                                        <td>
                                                            <%= cls.Week %>
                                                        </td>
                                                    </tr>
                                                    <%});%>
                                            </tbody>
                                        </table>
                                        <% }; %>
                                            <!-- END Student Class Table -->
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- // END Header Layout Content -->
    <%- include('../layout/footer'); -%>