<%- include('../layout/header'); -%>
    <style>
        .hidden {
            opacity: 0;
            transform: rotateX(-90deg);
            transform-style: preserve-3d;
            max-height: 0px;
        }
        
        .hidden-parent {
            max-height: 0px !important;
        }
        
        .toast.toast-error {
            background-color: #d9534f;
        }
        /* .show {
            height: fit-content;
            opacity: 1;
            transition: all 200ms ease-in-out;
        } */
    </style>
    <link type="text/css" href="assets/css/select2.css" rel="stylesheet">
    <link type="text/css" href="assets/vendor/select2/select2.min.css" rel="stylesheet">
    <div class="mdk-header-layout__content page-content " style="padding-top: 64px;">
        <div class="container page__container page-section pb-0">
            <h1 class="h2 mb-0">Giảng viên</h1>
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a href="/faculty">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Tables</li>

            </ol>
        </div>
        <div class="container page__container page-section">
            <div class="page-separator d-flex justify-content-between">
                <div class="page-separator__text">Giảng viên</div>
                <div class="d-flex">
                    <button type="button" class="btn btn-white" id="btn-search">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
            <div class="hidden-parent" style="perspective: 400px;transition: all 300ms;max-height:300px;">
                <div class="pb-32pt hidden" style="transform-origin: top;transition: all 300ms;height:auto;max-height: 300px;">
                    <div class="container page__container">
                        <form action="/aao/lecturer/" class="col-md-12 p-0 mx-auto d-flex justify-content-between align-items-center" method="GET" id="form-search">
                            <div class="form-group mx-10px" data-select2-id="16">
                                <label class="form-label" for="limit">Limit</label>
                                <input id="limit" name="limit" type="number" class="form-control" value="<%= condition.limit || 10 %>" style="width: 60px;">
                            </div>
                            <div class="form-group" data-select2-id="16">
                                <label class="form-label" for="SFacultyCode">Khoa:</label>
                                <select name="SFacultyCode" id="SFacultyCode" data-toggle="select" class="form-control select2-hidden-accessible" data-select2-id="select01" tabindex="-1" aria-hidden="true">
                                    <option data-select2-id="2" value="-1" selected>
                                        Khoa
                                    </option>
                                    <% faculties.forEach((Faculty)=>{%>
                                        <option data-select2-id="2" value="<%= Faculty.Code %>"
                                            <%=condition.SFacultyCode==Faculty.Code?"selected":""%>>
                                            <%= Faculty.Code + ' - ' + Faculty.Name%>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="keySearch">Search:</label>
                                <input id="keySearch" name="keySearch" type="text" class="form-control" placeholder="Nhập từ khóa ..." value="<%=condition.keySearch%>">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="btn-search" style="margin-top: 27px;">
                                    <i class="material-icons">search</i>
                                </button>

                                <a href="/aao/lecturer/">
                                    <button type="button" class="btn btn-accent" style="margin-top: 27px">
                                        <i class=" material-icons">close</i>
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="hidden-parent" style="perspective: 400px;transition: all 300ms;max-height:300px;">
                <div class="pb-32pt hidden" style="transform-origin: top;transition: all 300ms;height:auto;max-height: 300px;">
                    <div class="container page__container">
                        <form action="/aao/class/add" class="col-md-8 p-0 mx-auto" method="POST" id="form-add">
                            <div class="form-group" data-select2-id="16">
                                <label class="form-label" for="sel-subject">Môn học:</label>
                                <select name="SubjectCode" id="sel-subject" data-toggle="select" class="form-control select2-hidden-accessible" data-select2-id="select01" tabindex="-1" aria-hidden="true">
                                    <% subjects.forEach((subject)=>{%>
                                        <option data-select2-id="2" value="<%= subject.Code %>">
                                            <%= subject.Code + ' - ' + subject.Name + ' - ' + subject.FacultyCode%>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name">Tên lớp:</label>
                                <input id="name" name="name" type="text" class="form-control" placeholder="Tên môn học ...">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="Semester">Học kỳ:</label>
                                <input id="Semester" name="Semester" type="text" class="form-control" readonly placeholder="Học kỳ" value="<%= semester %>">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-danger">Hủy</button>
                                <button class="btn btn-primary" id="submit-add-form">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card mb-lg-32pt">

                <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-name&quot;, &quot;js-lists-values-company&quot;, &quot;js-lists-values-phone&quot;, &quot;js-lists-values-date&quot;]">




                    <table class="table mb-0 thead-border-top-0 table-nowrap" style="overflow: hidden;" id="table-subject">
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-stt">STT</a>
                                </th>

                                <th style="width: 100px;text-align: center;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-phone">MSSV</a>
                                </th>
                                <th style="text-align: left;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-company">Họ và
                                        tên</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-phone">Email</a>
                                </th>
                                <th style="width: 80px;">
                                    <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-phone">Khoa</a>
                                </th>
                                <th style="width: 24px;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list" id="clients">
                            <% lecturers.forEach((lecture,i)=> { %>
                                <tr>
                                    <td>
                                        <%= condition.limit*(condition.page-1)+i+1 %>
                                    </td>
                                    <td style="text-align: center;">
                                        <%= lecture.ID %>
                                    </td>
                                    <td style="text-align: left;">
                                        <%= lecture.Name %>
                                    </td>
                                    <td>
                                        <%= lecture.Email %>
                                    </td>
                                    <td>
                                        <%= lecture.FacultyCode %>
                                    </td>
                                    <td class="text-right">

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background-color: white;"><span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="/aao/lecturer/<%= lecture.ID %>">Chi
                                                    tiết</a>
                                                <a class="dropdown-item" href="#">Dropdown link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>


                        </tbody>
                    </table>
                </div>

                <div class="card-footer p-8pt">

                    <ul class="pagination justify-content-start pagination-xsm m-0">
                        <li class="page-item <%= parseInt(condition.page)==1?" disabled ":" " %>">
                            <a class="page-link" href="?limit=<%= condition.limit || -1 %>&SSubjectCode=<%= condition.SSubjectCode || -1 %>&SFacultyCode=<%= condition.SFacultyCode || -1 %>&Semester=<%= condition.Semester || -1 %>&keySearch=<%= condition.keySearch %>&page=<%= parseInt(condition.page)-1%>"
                                aria-label="Previous">
                                <span aria-hidden="true" class="material-icons">chevron_left</span>
                                <span>Prev</span>
                            </a>
                        </li>
                        <% for (var
                            i=Math.max(1,parseInt(condition.page)-3);i<=Math.min(parseInt(condition.page)+3,pageMax);
                            i++){%>
                            <li class="page-item  <%= parseInt(condition.page)==i? 'active' : " " %>">
                                <a class=" page-link" href="?limit=<%= condition.limit || -1 %>&SSubjectCode=<%= condition.SSubjectCode || -1 %>&SFacultyCode=<%= condition.SFacultyCode || -1 %>&Semester=<%= condition.Semester || -1 %>&keySearch=<%= condition.keySearch %>&page=<%= i%>">
                                    <span>
                                        <%=i%>
                                    </span>
                                </a>
                            </li>
                            <% } %>
                                <li class="page-item <%= parseInt(condition.page)==pageMax?" disabled ":" " %>">
                                    <a class="page-link" href="?limit=<%= condition.limit || -1 %>&SSubjectCode=<%= condition.SSubjectCode || -1 %>&SFacultyCode=<%= condition.SFacultyCode || -1 %>&Semester=<%= condition.Semester || -1 %>&keySearch=<%= condition.keySearch %>&page=<%= parseInt(condition.page)+1%>"
                                        aria-label="Next">
                                        <span>Next</span>
                                        <span aria-hidden="true" class="material-icons">chevron_right</span>
                                    </a>
                                </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <%- include('../layout/footer'); -%>
        <script src="assets/vendor/select2/select2.min.js"></script>
        <script src="assets/js/select2.js"></script>
        <script>
            $('#SSubjectCode').select2();
            $('#SFacultyCode').select2();
            $('#search').change('input', function(e) {
                e.preventDefault();

            });
            $('#btn-add').click(function(e) {
                e.preventDefault();
                $('#form-add').parent().parent().toggleClass('hidden');
                $('#form-add').parent().parent().parent().toggleClass('hidden-parent');

            });
            $('.btn.btn-danger').click(function(e) {
                e.preventDefault();
                $('#form-add').parent().parent().toggleClass('hidden');
                $('#form-add').parent().parent().parent().toggleClass('hidden-parent');
            });
            $('#submit-add-form').click(function(e) {
                e.preventDefault();
                var data = $('#form-add').serialize();
                $.post({
                    url: "/aao/class/add",
                    data: data,
                    success: function(data, textStatus, jqXHR) {
                        toastr[textStatus](data, 'Well done!');
                        $('#form-add').parent().parent().toggleClass('hidden');
                        $('#form-add').parent().parent().parent().toggleClass('hidden-parent');
                    },
                    error: function(respone, status, errorThrown) {
                        respone.responseJSON.forEach(err => {
                            toastr.error(err.message, 'Error');
                        });
                        console.log(respone, status, errorThrown);
                    }
                });
            });
            $('#btn-search').click(function(e) {
                e.preventDefault();
                $('#form-search').parent().parent().toggleClass('hidden');
                $('#form-search').parent().parent().parent().toggleClass('hidden-parent');

            });
        </script>